<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.benjamino.smart_webp_compression</string>
	<key>connections</key>
	<dict>
		<key>045C5FE6-9D9A-4C6E-BB9F-73E732480CB9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F5239EB-3ECF-4E0E-8431-A65EB2327A19</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0BC6A292-B409-4DAC-8EA9-2C8604D1F303</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42AF05BF-C545-42DF-AC3B-9F81F851C963</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>13DDCB6C-9438-4C2B-B386-867F758EEDAF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38FEF466-6198-4D50-AA90-D70C13B216F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F5239EB-3ECF-4E0E-8431-A65EB2327A19</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13DDCB6C-9438-4C2B-B386-867F758EEDAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>82863E01-18CA-4A51-B90A-43A845142D62</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A5FB494F-4E88-47A0-879E-401294A7C6D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1891A02A-6CF8-4BBC-B8F9-97BD1B09BF5B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FDEDA57C-C351-4AA4-B0D2-BA3A16A2125F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F94A9936-1BF8-45BE-AFB3-BED2285C65FD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E059706B-E9CB-457B-A984-1F96041A300B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3E3E8353-8D8A-4CFD-B5B3-BDD74E9917F5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2308696E-54E9-47F6-BFAD-BE577F5EA33C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94DB40C4-AE8A-4383-B916-29465859AAF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>24C70ED0-81F4-484E-841F-032B110455CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C3B838B-C528-449D-B058-3836F59421EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2594B231-AB96-474F-A44E-2C733F045144</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FEE47AA-2088-45F6-B112-EC2794BD9397</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>29E00EF6-FC86-4DE7-83BC-A4D225269C5E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B719F83-111C-42AA-A4F0-3858F6AEBDF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>29FE5492-8E67-4F8F-87A3-159939E6A097</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8CA4509B-0219-4AD8-9C45-13EC464FF9DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>312ACF3E-422C-4D71-B4C8-524DD7FA8B12</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FEE47AA-2088-45F6-B112-EC2794BD9397</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>38FEF466-6198-4D50-AA90-D70C13B216F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69BA9B7D-DD02-4970-AF06-8266F95388C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3B719F83-111C-42AA-A4F0-3858F6AEBDF8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E05259B6-5B68-46E1-B5E3-A2955ACC4A3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3BC14125-DD5B-4FA9-9AD5-A3A69F183B2F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C3B838B-C528-449D-B058-3836F59421EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F40E4A0-B574-41EF-B31C-49AF88E9DEA3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ECEF6C22-D209-4F02-8240-FFF192BCD9B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3FEE47AA-2088-45F6-B112-EC2794BD9397</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F40E4A0-B574-41EF-B31C-49AF88E9DEA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>42AF05BF-C545-42DF-AC3B-9F81F851C963</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>24C70ED0-81F4-484E-841F-032B110455CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69BA9B7D-DD02-4970-AF06-8266F95388C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF9124F1-C2EF-4BBE-B066-A2CCC6C1149B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7587F5D4-DC06-4411-BDC1-EA1FD81363D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3BC14125-DD5B-4FA9-9AD5-A3A69F183B2F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8CA4509B-0219-4AD8-9C45-13EC464FF9DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F2BF7B8C-1591-4877-AFF5-0EAFDFB59178</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>94DB40C4-AE8A-4383-B916-29465859AAF9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B719F83-111C-42AA-A4F0-3858F6AEBDF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C4C284CD-55E1-41E9-867A-B48CA7AB5D47</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2594B231-AB96-474F-A44E-2C733F045144</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF9124F1-C2EF-4BBE-B066-A2CCC6C1149B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29E00EF6-FC86-4DE7-83BC-A4D225269C5E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>40F21FC1-5AB6-4DD3-BBB7-CDD2D7B59B8F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>94DB40C4-AE8A-4383-B916-29465859AAF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E05259B6-5B68-46E1-B5E3-A2955ACC4A3A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C4C284CD-55E1-41E9-867A-B48CA7AB5D47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B04F7F98-F4C6-4E61-986D-68F6986FEA93</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>312ACF3E-422C-4D71-B4C8-524DD7FA8B12</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E059706B-E9CB-457B-A984-1F96041A300B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0BC6A292-B409-4DAC-8EA9-2C8604D1F303</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>40F21FC1-5AB6-4DD3-BBB7-CDD2D7B59B8F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6C3B838B-C528-449D-B058-3836F59421EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9A4468F5-CA10-41FA-9110-3FEAA5816577</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7587F5D4-DC06-4411-BDC1-EA1FD81363D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8EE14863-8E4A-47BE-9D21-B6624353D444</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ECEF6C22-D209-4F02-8240-FFF192BCD9B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58F33492-15F5-46AB-A362-CA56E17F396D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>858CBA9A-76BF-4F4E-AB3A-16789D3C48CF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C498F126-D109-47CE-9C8D-C1439C5F5B30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E483B0E6-5E1E-4F8E-BE08-F61FB4E857AB</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F2BF7B8C-1591-4877-AFF5-0EAFDFB59178</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>045C5FE6-9D9A-4C6E-BB9F-73E732480CB9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1891A02A-6CF8-4BBC-B8F9-97BD1B09BF5B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Benjamin Oddou</string>
	<key>description</key>
	<string>🧙‍♂️ Transform your images into WebP format with ease</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Smart WebP</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>{var:data_folder}/logs.txt</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>58F33492-15F5-46AB-A362-CA56E17F396D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Start writing to find images and folders</string>
				<key>title</key>
				<string>Choose images / folders for compression</string>
				<key>types</key>
				<array>
					<string>org.webmproject.webp</string>
					<string>public.folder</string>
					<string>public.jpeg</string>
					<string>public.png</string>
					<string>public.tiff</string>
				</array>
				<key>withspace</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>{query}</string>
				<key>usecustominputarg</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>13DDCB6C-9438-4C2B-B386-867F758EEDAF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>addfilestobuffer</key>
				<false/>
				<key>clearbuffer</key>
				<true/>
				<key>outputtype</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.buffer</string>
			<key>uid</key>
			<string>69BA9B7D-DD02-4970-AF06-8266F95388C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Write the cwebp options and press ⏎</string>
				<key>text</key>
				<string>Input your cwebp options</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>{query}</string>
				<key>usecustominputarg</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C4C284CD-55E1-41E9-867A-B48CA7AB5D47</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>_links_list</key>
					<string>{var:_link_no_buffer}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>29E00EF6-FC86-4DE7-83BC-A4D225269C5E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>40F21FC1-5AB6-4DD3-BBB7-CDD2D7B59B8F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>CF9124F1-C2EF-4BBE-B066-A2CCC6C1149B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>_link_no_buffer</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>38FEF466-6198-4D50-AA90-D70C13B216F4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>_the_preset</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2594B231-AB96-474F-A44E-2C733F045144</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>{var:data_folder}/logs.txt</string>
				<key>filetext</key>
				<string>{date:YYYY/MM/dd}
{time:HH:mm:ss}
user input : {var:_links_list}
cwebp options : {var:_the_preset}
{query}
______________________
</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>3F40E4A0-B574-41EF-B31C-49AF88E9DEA3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./compress.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3FEE47AA-2088-45F6-B112-EC2794BD9397</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading elements...</string>
				<key>script</key>
				<string>osascript -l JavaScript options.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>menu.sh</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Select a preset or input your options</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3B719F83-111C-42AA-A4F0-3858F6AEBDF8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:workflow_action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>_open</string>
						<key>outputlabel</key>
						<string>open</string>
						<key>uid</key>
						<string>858CBA9A-76BF-4F4E-AB3A-16789D3C48CF</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:workflow_action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>_reveal</string>
						<key>outputlabel</key>
						<string>reveal</string>
						<key>uid</key>
						<string>E483B0E6-5E1E-4F8E-BE08-F61FB4E857AB</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>ECEF6C22-D209-4F02-8240-FFF192BCD9B9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>manual</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>B04F7F98-F4C6-4E61-986D-68F6986FEA93</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>E05259B6-5B68-46E1-B5E3-A2955ACC4A3A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{var:data_folder}/logs.txt</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>C498F126-D109-47CE-9C8D-C1439C5F5B30</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>_the_preset</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>312ACF3E-422C-4D71-B4C8-524DD7FA8B12</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>org.webmproject.webp</string>
					<string>public.folder</string>
					<string>public.jpeg</string>
					<string>public.png</string>
					<string>public.tiff</string>
				</array>
				<key>name</key>
				<string>Compress images to WebP</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>2308696E-54E9-47F6-BFAD-BE577F5EA33C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>_links_list</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>94DB40C4-AE8A-4383-B916-29465859AAF9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>_reruncwebp</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>A5FB494F-4E88-47A0-879E-401294A7C6D4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>_compress</string>
						<key>outputlabel</key>
						<string>compress</string>
						<key>uid</key>
						<string>82863E01-18CA-4A51-B90A-43A845142D62</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>_rerun</string>
						<key>outputlabel</key>
						<string>rerun</string>
						<key>uid</key>
						<string>1891A02A-6CF8-4BBC-B8F9-97BD1B09BF5B</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>_web</string>
						<key>outputlabel</key>
						<string>web</string>
						<key>uid</key>
						<string>F94A9936-1BF8-45BE-AFB3-BED2285C65FD</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>_presets</string>
						<key>outputlabel</key>
						<string>preset</string>
						<key>uid</key>
						<string>3E3E8353-8D8A-4CFD-B5B3-BDD74E9917F5</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>1F5239EB-3ECF-4E0E-8431-A65EB2327A19</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:trigger}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading elements...</string>
				<key>script</key>
				<string>osascript -l JavaScript entry.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>menu.sh</string>
				<key>subtext</key>
				<string>Compress images to webp format easily</string>
				<key>title</key>
				<string>Smart webp compression</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8CA4509B-0219-4AD8-9C45-13EC464FF9DF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>_reruncwebp</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>29FE5492-8E67-4F8F-87A3-159939E6A097</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>;</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>045C5FE6-9D9A-4C6E-BB9F-73E732480CB9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>1891A02A-6CF8-4BBC-B8F9-97BD1B09BF5B</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F2BF7B8C-1591-4877-AFF5-0EAFDFB59178</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:split2}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FDEDA57C-C351-4AA4-B0D2-BA3A16A2125F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Input valid cwebp options, check the documentation</string>
				<key>text</key>
				<string>Preset Value</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>{query}</string>
				<key>usecustominputarg</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0BC6A292-B409-4DAC-8EA9-2C8604D1F303</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Input a title and a description for the preset ǀ Example: 'My Preset/Some description'</string>
				<key>text</key>
				<string>Preset Title/Subtitle</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>24C70ED0-81F4-484E-841F-032B110455CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>_new_preset</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>42AF05BF-C545-42DF-AC3B-9F81F851C963</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -l JavaScript presets.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6C3B838B-C528-449D-B058-3836F59421EA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:split2}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>new</string>
						<key>outputlabel</key>
						<string>new</string>
						<key>uid</key>
						<string>40F21FC1-5AB6-4DD3-BBB7-CDD2D7B59B8F</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split2}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>delete</string>
						<key>outputlabel</key>
						<string>delete</string>
						<key>uid</key>
						<string>9A4468F5-CA10-41FA-9110-3FEAA5816577</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split2}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>modify</string>
						<key>outputlabel</key>
						<string>modify</string>
						<key>uid</key>
						<string>8EE14863-8E4A-47BE-9D21-B6624353D444</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>E059706B-E9CB-457B-A984-1F96041A300B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Don't forget to use a '/' to separate elements</string>
				<key>text</key>
				<string>Modify the {var:modif4}</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>custominputarg</key>
				<string>{var:modif5}</string>
				<key>externalid</key>
				<string>{query}</string>
				<key>usecustominputarg</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3BC14125-DD5B-4FA9-9AD5-A3A69F183B2F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>;</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>modif</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>7587F5D4-DC06-4411-BDC1-EA1FD81363D6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># 🎩 Alfred Smart WebP

✨ *Transform your images into WebP format with ease* ✨

## ✅ Prerequisites

* MacOS.
* Alfred 5. Note that the [Alfred Powerpack](https://www.alfredapp.com/powerpack/) is required to use workflows.

## 🏎️ cwebp

Under the hood, the compression is made with [cwebp](https://developers.google.com/speed/webp/docs/cwebp) (made by Google), a tool that allows to compress images into the WebP format, which is generally lighter, and broadly used to share images on the web.

## 🧰 Setup the workflow

#### Open the Terminal of you Mac and run the following command:

Install cwebp (using [Homebrew](https://brew.sh)):

`brew install webp`

## 🧙‍♂️ Invoke the workflow

You can invoke the workflow by writing `webp` into the Alfred search box. You can change this value by changing the `🕹️ Trigger` variable in workflow configuration panel.

## 🤖 Usage of the workflow

Go to the dedicated [GitHub repository](https://github.com/BenjaminOddou/alfred-smart-webp-compression) page to check the documentation

© Benjamin Oddou</string>
	<key>uidata</key>
	<dict>
		<key>045C5FE6-9D9A-4C6E-BB9F-73E732480CB9</key>
		<dict>
			<key>xpos</key>
			<real>535</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>0BC6A292-B409-4DAC-8EA9-2C8604D1F303</key>
		<dict>
			<key>xpos</key>
			<real>950</real>
			<key>ypos</key>
			<real>635</real>
		</dict>
		<key>13DDCB6C-9438-4C2B-B386-867F758EEDAF</key>
		<dict>
			<key>xpos</key>
			<real>950</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>1F5239EB-3ECF-4E0E-8431-A65EB2327A19</key>
		<dict>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>2308696E-54E9-47F6-BFAD-BE577F5EA33C</key>
		<dict>
			<key>xpos</key>
			<real>950</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>24C70ED0-81F4-484E-841F-032B110455CA</key>
		<dict>
			<key>xpos</key>
			<real>1235</real>
			<key>ypos</key>
			<real>635</real>
		</dict>
		<key>2594B231-AB96-474F-A44E-2C733F045144</key>
		<dict>
			<key>xpos</key>
			<real>2005</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>29E00EF6-FC86-4DE7-83BC-A4D225269C5E</key>
		<dict>
			<key>xpos</key>
			<real>1480</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>29FE5492-8E67-4F8F-87A3-159939E6A097</key>
		<dict>
			<key>xpos</key>
			<real>95</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>312ACF3E-422C-4D71-B4C8-524DD7FA8B12</key>
		<dict>
			<key>xpos</key>
			<real>2005</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>38FEF466-6198-4D50-AA90-D70C13B216F4</key>
		<dict>
			<key>xpos</key>
			<real>1130</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>3B719F83-111C-42AA-A4F0-3858F6AEBDF8</key>
		<dict>
			<key>xpos</key>
			<real>1560</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>3BC14125-DD5B-4FA9-9AD5-A3A69F183B2F</key>
		<dict>
			<key>xpos</key>
			<real>1235</real>
			<key>ypos</key>
			<real>795</real>
		</dict>
		<key>3F40E4A0-B574-41EF-B31C-49AF88E9DEA3</key>
		<dict>
			<key>xpos</key>
			<real>2300</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>3FEE47AA-2088-45F6-B112-EC2794BD9397</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<real>2135</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>42AF05BF-C545-42DF-AC3B-9F81F851C963</key>
		<dict>
			<key>xpos</key>
			<real>1130</real>
			<key>ypos</key>
			<real>665</real>
		</dict>
		<key>58F33492-15F5-46AB-A362-CA56E17F396D</key>
		<dict>
			<key>xpos</key>
			<real>2595</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>69BA9B7D-DD02-4970-AF06-8266F95388C9</key>
		<dict>
			<key>xpos</key>
			<real>1235</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>6C3B838B-C528-449D-B058-3836F59421EA</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>1465</real>
			<key>ypos</key>
			<real>715</real>
		</dict>
		<key>7587F5D4-DC06-4411-BDC1-EA1FD81363D6</key>
		<dict>
			<key>xpos</key>
			<real>1130</real>
			<key>ypos</key>
			<real>825</real>
		</dict>
		<key>8CA4509B-0219-4AD8-9C45-13EC464FF9DF</key>
		<dict>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>94DB40C4-AE8A-4383-B916-29465859AAF9</key>
		<dict>
			<key>xpos</key>
			<real>1480</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>A5FB494F-4E88-47A0-879E-401294A7C6D4</key>
		<dict>
			<key>xpos</key>
			<real>950</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>C498F126-D109-47CE-9C8D-C1439C5F5B30</key>
		<dict>
			<key>xpos</key>
			<real>2595</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>C4C284CD-55E1-41E9-867A-B48CA7AB5D47</key>
		<dict>
			<key>xpos</key>
			<real>1825</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>CF9124F1-C2EF-4BBE-B066-A2CCC6C1149B</key>
		<dict>
			<key>xpos</key>
			<real>1385</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>E05259B6-5B68-46E1-B5E3-A2955ACC4A3A</key>
		<dict>
			<key>xpos</key>
			<real>1740</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>E059706B-E9CB-457B-A984-1F96041A300B</key>
		<dict>
			<key>xpos</key>
			<real>775</real>
			<key>ypos</key>
			<real>720</real>
		</dict>
		<key>ECEF6C22-D209-4F02-8240-FFF192BCD9B9</key>
		<dict>
			<key>xpos</key>
			<real>2465</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>F2BF7B8C-1591-4877-AFF5-0EAFDFB59178</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>FDEDA57C-C351-4AA4-B0D2-BA3A16A2125F</key>
		<dict>
			<key>xpos</key>
			<real>950</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Library/Application Support/Alfred/Workflow Data/com.benjamino.smart_webp_compression</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>This folder contains presets and logs outputs</string>
			<key>label</key>
			<string>📂 Data folder</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>data_folder</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>webp</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword that launches the workflow</string>
			<key>label</key>
			<string>🕹️ Trigger</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>trigger</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>1</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Input a value between 1 and ∞.</string>
			<key>label</key>
			<string>🔍 Depth of the search</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>level</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>_open</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Open log file 🟢</string>
						<string>_open</string>
					</array>
					<array>
						<string>Reveal log file in finder 🔵</string>
						<string>_reveal</string>
					</array>
					<array>
						<string>Display a notification 🟡</string>
						<string>_notif</string>
					</array>
					<array>
						<string>Do nothing 🔴</string>
						<string></string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Choose output action.</string>
			<key>label</key>
			<string>🔫 Workflow action</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>workflow_action</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Submarine</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Mute 🔕</string>
						<string></string>
					</array>
					<array>
						<string>Submarine 🤿</string>
						<string>Submarine</string>
					</array>
					<array>
						<string>Pop 🎉</string>
						<string>Pop</string>
					</array>
					<array>
						<string>Ping ✨</string>
						<string>Ping</string>
					</array>
					<array>
						<string>Purr 🐯</string>
						<string>Purr</string>
					</array>
					<array>
						<string>Hero ⚔️</string>
						<string>Hero</string>
					</array>
					<array>
						<string>Funk 🕺</string>
						<string>Funk</string>
					</array>
					<array>
						<string>Basso 🎧</string>
						<string>Basso</string>
					</array>
					<array>
						<string>Sosumi 📻</string>
						<string>Sosumi</string>
					</array>
					<array>
						<string>Glass 🍸</string>
						<string>Glass</string>
					</array>
					<array>
						<string>Blow 💨</string>
						<string>Blow</string>
					</array>
					<array>
						<string>Bottle 🍼</string>
						<string>Bottle</string>
					</array>
					<array>
						<string>Frog 🐸</string>
						<string>Frog</string>
					</array>
					<array>
						<string>Tink 🛎️</string>
						<string>Tink</string>
					</array>
					<array>
						<string>Morse ♨️</string>
						<string>Morse</string>
					</array>
					<array>
						<string>Classic 😃</string>
						<string>default</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>workflow notification sound.</string>
			<key>label</key>
			<string>🎷 Notification sound</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>sound</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>3.0</string>
	<key>webaddress</key>
	<string>https://github.com/BenjaminOddou/alfred-smart-webp-compression</string>
</dict>
</plist>
